.bgColor{
    background-color:#004d00;/*symbolizing dignity, respect, and empowerment */
}
.bgColorHeader{
   background-color: #003600/*symbolizing dignity, respect, and empowerment */
}
.btnColor{
   background-color:#80ff80;
}
.text-color{
   color:#ffffff;
}